/vendor/
/uploads/*
!/uploads/.gitkeep
/storage/generated/*
!/storage/generated/.gitkeep
*.png
# SQLite database files
public/storage/*.db

/node_modules/
/dist/
/resources/php/*
!/resources/php/.gitkeep
!/resources/php/php.ini
