.layout.cover .panel1 {
    position: absolute;
    top: 36px;     /* larger top gutter */
    bottom: 60px;  /* largest bottom gutter */
    left: 12px;    /* original side gutter */
    right: 12px;   /* original side gutter */
}
