.layout.four-grid .panel1 {
    top: 12px;
    left: 12px;
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}

.layout.four-grid .panel2 {
    top: 12px;
    left: calc(50% + 6px);
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}

.layout.four-grid .panel3 {
    top: calc(50% + 6px);
    left: 12px;
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}

.layout.four-grid .panel4 {
    top: calc(50% + 6px);
    left: calc(50% + 6px);
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}
