/* one-vertical-left-two-horizontal-right.css */
.layout.one-vertical-left-two-horizontal-right .panel1 {
    left: 12px;
    top: 12px;
    width: calc(50% - 18px);
    height: calc(100% - 24px);
}
.layout.one-vertical-left-two-horizontal-right .panel2 {
    top: 12px;
    left: calc(50% + 6px);
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}
.layout.one-vertical-left-two-horizontal-right .panel3 {
    top: calc(50% + 6px);
    left: calc(50% + 6px);
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}
