/* three-horizontal-angled.css */
.layout.three-horizontal-angled .panel {
    width: calc(100% - 24px);
    height: calc(33.333% - 18px);
    left: 12px;
}
/* Top panel with smaller angled gutter */
.layout.three-horizontal-angled .panel1 {
    top: 12px;
}
/* Middle panel with smaller angled gutter */
.layout.three-horizontal-angled .panel2 {
    top: calc(33.333% + 6px);
}
/* Bottom panel with smaller angled gutter */
.layout.three-horizontal-angled .panel3 {
    top: calc(66.666% + 6px);
}
