/* two-horizontal-left-one-vertical-right.css */
.layout.two-horizontal-left-one-vertical-right .panel1 {
    top: 12px;
    left: 12px;
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}
.layout.two-horizontal-left-one-vertical-right .panel2 {
    top: calc(50% + 6px);
    left: 12px;
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}
.layout.two-horizontal-left-one-vertical-right .panel3 {
    top: 12px;
    left: calc(50% + 6px);
    width: calc(50% - 18px);
    height: calc(100% - 24px);
}
