/* two-vertical-top-one-horizontal-bottom.css */
.layout.two-vertical-top-one-horizontal-bottom .panel1 {
    top: 12px;
    left: 12px;
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}
.layout.two-vertical-top-one-horizontal-bottom .panel2 {
    top: 12px;
    left: calc(50% + 6px);
    width: calc(50% - 18px);
    height: calc(50% - 18px);
}
.layout.two-vertical-top-one-horizontal-bottom .panel3 {
    top: calc(50% + 6px);
    left: 12px;
    width: calc(100% - 24px);
    height: calc(50% - 18px);
}
