


.layout.two-panel-horizontal .panel1 {
    top: 12px;
    left: 12px;
    width: calc(100% - 24px);
    height: calc(50% - 18px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.layout.two-panel-horizontal .panel2 {
    top: calc(50% + 6px);
    left: 12px;
    width: calc(100% - 24px);
    height: calc(50% - 18px);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
